<!DOCTYPE html>
<html lang="ja" ng-app="app">
<head>
  <meta charaset="utf-8">
  <title>Angularの練習 FORM</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="myapp.js"></script>
  <style>
  .text-error {color: #D0310C;}
  </style>
</head>
<body>
  <h1>Angularの練習 FORM</h1>
  <div ng-controller="FormCtrl">
    <form novalidate name="myForm" ng-submit="addUser()">
      <p>
      Name: <input type="text" name="name" ng-model="user.name" required ng-minlength="5" ng-maxlength="8">
      <!-- Error Message -->
      <span class="text-error" ng-show="myForm.name.$error.required">*</span>
      <span class="text-error" ng-show="myForm.name.$error.minlength">to short!</span>
      <span class="text-error" ng-show="myForm.name.$error.maxlength">to long!</span>
      </p>
      <p>Score: <input type="number" name="score" ng-model="user.score"></p>
      <p>Email: <input type="email" name="email" ng-model="user.email">
        <span class="text-error" ng-show="myForm.email.$error.email">Not vaild email!</span>
      </p>
      <p>Url: <input type="url" name="url" ng-model="user.url">
        <span class="text-error" ng-show="myForm.url.$error.url">Not vaild URL!</span>
      </p>
      <p><label>+18:<input type="checkbox" ng-model="user.adult" ng-true-value="'adult'" ng-false-value="'child'"></label></p>
      <p>Phone:<br/>
        <label><input type="radio" name="phone" ng-model="user.phone" value="iPhone"> iPhone</label><br/>
        <label><input type="radio" name="phone" ng-model="user.phone" value="Android"> Android</label>
      </p>
      <p>Note:
        <textarea name="memo" ng-model="user.memo" ng-maxlength="140"></textarea>{{140-user.memo.length}}</p>
      <p>Color:
        <select ng-model="color" ng-options="'label:'+c for c in colors"></select>
      </p>
      <p><input type="submit" value="add"></p>
    </form>
    <!-- debug -->
    <pre>{{user|json}}</pre>
  </div>
</body>
</html>
