<!DOCTYPE html>
<html lang="ja" ng-app="app">
<head>
  <meta charaset="utf-8">
  <title>Angularの練習</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="myapp.js"></script>
  <style>
    .even {
      background-color: #B6D0DA;
    }
    .odd {
      background-color: #C3CAD4;
    }
  </style>
</head>
<body>
  <h1>Angularの練習</h1>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">
  <p>Hello {{yourName}}!</p>
  <p>{{25 * 580|number}} <small>3桁区切り</small></p>
  <p>{{25 * 580|currency:"¥"}} <small>通貨</small></p>
  <div ng-controller="MainCtrl">
    <p>{{today|date:'yyyy-MM-dd'}}</p>
    <p>{{users.length}} users.</p>
    <p><input type="text" ng-model="query.name"></p>
    <ul>
      <li ng-repeat="user in users|filter:query|orderBy:'-score'" ng-class-even="'even'" ng-class-odd="'odd'" ng-controller="UserItemCtrl">
        {{$index + 1}} {{$first}} {{$middle}} {{$last}} {{user.name}} {{user.score|number:4}}
        <button ng-click="increment()">+1</button>
      </li>
    </ul>
  </div>
</body>
</html>
