- if(!title)
  - var title = 'Angularの練習 TODO LIST'
doctype html
html(lang= lang, ng-app="app")
  head
    meta(charaset="utf-8")
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js")
    script(src="/assets/js/myapp.js")
  body
    block body
